In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ALL_MFQ30.csv")
df.head()

,HARM_AVG,FAIRNESS_AVG,INGROUP_AVG,AUTHORITY_AVG,PURITY_AVG,Sex,Country
0,0.000000,0.000000,0.000000,0.000000,0.000000,1,Australia
1,4.000000,4.166667,3.000000,3.833333,2.833333,0,Australia
2,3.166667,4.500000,1.333333,1.166667,1.000000,1,Australia
3,3.000000,3.500000,3.333333,3.000000,1.500000,0,Australia
4,4.666667,3.666667,3.333333,3.333333,1.833333,0,Australia

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11969 entries, 0 to 11968
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   HARM_AVG       11817 non-null  float64
 1   FAIRNESS_AVG   11831 non-null  float64
 2   INGROUP_AVG    11811 non-null  float64
 3   AUTHORITY_AVG  11815 non-null  float64
 4   PURITY_AVG     11821 non-null  float64
 5   Sex            11885 non-null  object
 6   Country        11969 non-null  object
dtypes: float64(5), object(2)
memory usage: 654.7+ KB

In [4]:
df = df.dropna()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11665 entries, 0 to 11968
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   HARM_AVG       11665 non-null  float64
 1   FAIRNESS_AVG   11665 non-null  float64
 2   INGROUP_AVG    11665 non-null  float64
 3   AUTHORITY_AVG  11665 non-null  float64
 4   PURITY_AVG     11665 non-null  float64
 5   Sex            11665 non-null  object
 6   Country        11665 non-null  object
dtypes: float64(5), object(2)
memory usage: 729.1+ KB

In [9]:
df.to_csv("cleaned.csv", index=False)

In [11]:
# clean_df = pd.read_csv("cleaned.csv")
# clean_df.head()