In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ALL_MFQ30.csv")
df.head()

,HARM_AVG,FAIRNESS_AVG,INGROUP_AVG,AUTHORITY_AVG,PURITY_AVG,Sex,Country
0,0.000000,0.000000,0.000000,0.000000,0.000000,1,Australia
1,4.000000,4.166667,3.000000,3.833333,2.833333,0,Australia
2,3.166667,4.500000,1.333333,1.166667,1.000000,1,Australia
3,3.000000,3.500000,3.333333,3.000000,1.500000,0,Australia
4,4.666667,3.666667,3.333333,3.333333,1.833333,0,Australia

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11969 entries, 0 to 11968
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   HARM_AVG       11817 non-null  float64
 1   FAIRNESS_AVG   11831 non-null  float64
 2   INGROUP_AVG    11811 non-null  float64
 3   AUTHORITY_AVG  11815 non-null  float64
 4   PURITY_AVG     11821 non-null  float64
 5   Sex            11885 non-null  object
 6   Country        11969 non-null  object
dtypes: float64(5), object(2)
memory usage: 654.7+ KB

In [4]:
df = df.dropna()

In [5]:
sex_map = {"0" : "female", "1": "male", ".": 2}
df["Sex"] = df["Sex"].map(sex_map)
df = df[df['Sex'] != 2]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11664 entries, 0 to 11968
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   HARM_AVG       11664 non-null  float64
 1   FAIRNESS_AVG   11664 non-null  float64
 2   INGROUP_AVG    11664 non-null  float64
 3   AUTHORITY_AVG  11664 non-null  float64
 4   PURITY_AVG     11664 non-null  float64
 5   Sex            11664 non-null  object
 6   Country        11664 non-null  object
dtypes: float64(5), object(2)
memory usage: 729.0+ KB

In [7]:
df.to_csv("cleaned.csv", index=False)

In [8]:
df = pd.read_csv("cleaned.csv")
df.head()

,HARM_AVG,FAIRNESS_AVG,INGROUP_AVG,AUTHORITY_AVG,PURITY_AVG,Sex,Country
0,0.000000,0.000000,0.000000,0.000000,0.000000,male,Australia
1,4.000000,4.166667,3.000000,3.833333,2.833333,female,Australia
2,3.166667,4.500000,1.333333,1.166667,1.000000,male,Australia
3,3.000000,3.500000,3.333333,3.000000,1.500000,female,Australia
4,4.666667,3.666667,3.333333,3.333333,1.833333,female,Australia

In [9]:
df_grouped = df.groupby(["Country", "Sex"]).mean()
df_grouped

                    HARM_AVG  FAIRNESS_AVG  INGROUP_AVG  AUTHORITY_AVG  \
Country     Sex
Australia   female  3.982759      3.807570     2.766548       2.850971
            male    3.635572      3.637438     2.927861       2.847015
Belgium     female  3.516204      3.233796     2.345679       2.439043
            male    3.203822      3.132696     2.511677       2.609342
China       female  3.265464      3.420790     3.070704       2.841924
            male    3.080186      3.310140     3.068065       2.847319
France      female  3.434343      3.496970     2.468687       2.712121
            male    3.170732      3.422764     2.430894       2.341463
Hungary     female  3.719758      3.692204     2.834005       2.631048
            male    3.352688      3.444086     2.946237       2.821505
Iran        female  3.567640      3.734367     3.416484       3.015389
            male    3.355655      3.600521     3.390402       2.798065
Japan       female  3.819489      3.087327     2.329606       2.649095
            male    3.759752      3.115248     2.501773       2.718085
Korea       female  3.317216      3.400244     2.578755       2.489377
            male    3.183744      3.308867     2.667323       2.660920
Latvia      female  3.705882      3.602941     2.959804       2.518954
            male    3.338889      3.211111     2.923333       2.322222
Mongolia    female  3.099242      3.168333     3.175758       2.949848
            male    2.960417      3.055060     3.085417       2.989583
Netherlands female  3.404444      3.103333     2.277778       2.512222
            male    3.093333      3.042222     2.424444       2.562222
Poland      female  4.150228      3.870472     2.796043       2.588432
            male    3.670601      3.653738     2.797639       2.558179
Russia      female  3.565038      3.516379     2.920594       2.602586
            male    2.969167      3.166111     2.975000       2.729167
Serbia      female  3.556944      3.652778     3.308333       3.234722
            male    3.443056      3.444444     3.111111       3.088889
Spain       female  3.722917      4.102083     2.273958       2.338542
            male    3.720833      3.958333     2.135417       2.183333
Sweden      female  3.746849      3.548257     2.889523       2.681782
            male    3.358806      3.396543     2.892564       2.750489
Turkey      female  3.829220      4.055973     3.073856       2.532904
            male    3.585991      3.891495     3.169481       2.681989
UK          female  3.812236      3.598101     2.572785       2.686709
            male    3.500000      3.527536     2.534783       2.700000
US          female  3.803653      3.673516     2.568493       2.881279
            male    3.522417      3.590643     2.651072       2.924951

                    PURITY_AVG
Country     Sex
Australia   female    2.419738
            male      2.413557
Belgium     female    2.137346
            male      2.050955
China       female    2.506186
            male      2.534033
France      female    2.018182
            male      1.605691
Hungary     female    2.451613
            male      2.394624
Iran        female    3.378832
            male      3.268750
Japan       female    2.768371
            male      2.775709
Korea       female    2.631807
            male      2.647947
Latvia      female    2.756536
            male      2.438333
Mongolia    female    3.226364
            male      3.077232
Netherlands female    2.246667
            male      1.913333
Poland      female    3.049498
            male      2.717369
Russia      female    3.133142
            male      2.914444
Serbia      female    3.276389
            male      3.190278
Spain       female    1.627083
            male      1.393750
Sweden      female    1.978407
            male      1.995825
Turkey      female    2.857296
            male      2.955910
UK          female    2.386076
            male      2.095652
US          female    2.611111
            male      2.411306

In [10]:
sp = df_grouped.loc["Spain", :]
sp

        HARM_AVG  FAIRNESS_AVG  INGROUP_AVG  AUTHORITY_AVG  PURITY_AVG
Sex
female  3.722917      4.102083     2.273958       2.338542    1.627083
male    3.720833      3.958333     2.135417       2.183333    1.393750

In [11]:
us = df_grouped.loc["US", :]
us

        HARM_AVG  FAIRNESS_AVG  INGROUP_AVG  AUTHORITY_AVG  PURITY_AVG
Sex
female  3.803653      3.673516     2.568493       2.881279    2.611111
male    3.522417      3.590643     2.651072       2.924951    2.411306

In [12]:
ch = df_grouped.loc["China"]
ch

        HARM_AVG  FAIRNESS_AVG  INGROUP_AVG  AUTHORITY_AVG  PURITY_AVG
Sex
female  3.265464       3.42079     3.070704       2.841924    2.506186
male    3.080186       3.31014     3.068065       2.847319    2.534033

In [13]:
ru = df_grouped.loc["Russia"]
ru

        HARM_AVG  FAIRNESS_AVG  INGROUP_AVG  AUTHORITY_AVG  PURITY_AVG
Sex
female  3.565038      3.516379     2.920594       2.602586    3.133142
male    2.969167      3.166111     2.975000       2.729167    2.914444

In [14]:
ir = df_grouped.loc["Iran"]
ir

        HARM_AVG  FAIRNESS_AVG  INGROUP_AVG  AUTHORITY_AVG  PURITY_AVG
Sex
female  3.567640      3.734367     3.416484       3.015389    3.378832
male    3.355655      3.600521     3.390402       2.798065    3.268750

In [15]:
mn = df_grouped.loc["Mongolia"]
mn

        HARM_AVG  FAIRNESS_AVG  INGROUP_AVG  AUTHORITY_AVG  PURITY_AVG
Sex
female  3.099242      3.168333     3.175758       2.949848    3.226364
male    2.960417      3.055060     3.085417       2.989583    3.077232

In [16]:
 from sklearn import preprocessing

In [17]:
df_to_scale = pd.DataFrame({
    "harm" : df["HARM_AVG"],
    "fair" : df["FAIRNESS_AVG"],
    "ingroup" : df["INGROUP_AVG"],
    "auth" : df["AUTHORITY_AVG"],
    "purity" : df["PURITY_AVG"]
})
df_to_scale

           harm      fair   ingroup      auth    purity
0      0.000000  0.000000  0.000000  0.000000  0.000000
1      4.000000  4.166667  3.000000  3.833333  2.833333
2      3.166667  4.500000  1.333333  1.166667  1.000000
3      3.000000  3.500000  3.333333  3.000000  1.500000
4      4.666667  3.666667  3.333333  3.333333  1.833333
...         ...       ...       ...       ...       ...
11659  5.000000  4.000000  4.333333  3.500000  3.000000
11660  4.333333  4.833333  2.166667  2.500000  1.000000
11661  3.333333  2.833333  1.000000  1.666667  0.833333
11662  3.500000  3.500000  3.500000  3.833333  4.666667
11663  3.500000  4.000000  1.500000  2.333333  0.333333

[11664 rows x 5 columns]

In [18]:
scaler = preprocessing.StandardScaler().fit(df_to_scale)

In [19]:
scaled_df = scaler.transform(df_to_scale)

In [20]:
scaled_df

array([[-4.62257328, -4.84234652, -3.31566945, -3.03584114, -2.39969715],
       [ 0.47177739,  0.77312932,  0.18055992,  1.28681251,  0.23761009],
       [-0.58954567,  1.22236738, -1.76178973, -1.7202509 , -1.46888283],
       ...,
       [-0.37728106, -1.02382295, -2.15025966, -1.15642651, -1.62401855],
       [-0.16501645, -0.12534682,  0.76326481,  1.28681251,  1.94410301],
       [-0.16501645,  0.54851028, -1.56755477, -0.40466066, -2.08942571]])

In [21]:
scaled_df = pd.DataFrame(scaled_df)

In [22]:
scaled_df

              0         1         2         3         4
0     -4.622573 -4.842347 -3.315669 -3.035841 -2.399697
1      0.471777  0.773129  0.180560  1.286813  0.237610
2     -0.589546  1.222367 -1.761790 -1.720251 -1.468883
3     -0.801810 -0.125347  0.569030  0.347105 -1.003476
4      1.320836  0.099272  0.569030  0.722988 -0.693204
...         ...       ...       ...       ...       ...
11659  1.745365  0.548510  1.734440  0.910930  0.392746
11660  0.896307  1.671605 -0.790615 -0.216719 -1.468883
11661 -0.377281 -1.023823 -2.150260 -1.156427 -1.624019
11662 -0.165016 -0.125347  0.763265  1.286813  1.944103
11663 -0.165016  0.548510 -1.567555 -0.404661 -2.089426

[11664 rows x 5 columns]

In [23]:
scaled_df = pd.DataFrame({
    "harm" : scaled_df[0],
    "fair" : scaled_df[1],
    "ingroup" : scaled_df[2],
    "auth" : scaled_df[3],
    "purity" : scaled_df[4],
    "sex" : df["Sex"],
    "country" : df["Country"]
})
scaled_df.to_csv("scaled.csv")
scaled_df

           harm      fair   ingroup      auth    purity     sex    country
0     -4.622573 -4.842347 -3.315669 -3.035841 -2.399697    male  Australia
1      0.471777  0.773129  0.180560  1.286813  0.237610  female  Australia
2     -0.589546  1.222367 -1.761790 -1.720251 -1.468883    male  Australia
3     -0.801810 -0.125347  0.569030  0.347105 -1.003476  female  Australia
4      1.320836  0.099272  0.569030  0.722988 -0.693204  female  Australia
...         ...       ...       ...       ...       ...     ...        ...
11659  1.745365  0.548510  1.734440  0.910930  0.392746  female         US
11660  0.896307  1.671605 -0.790615 -0.216719 -1.468883    male         US
11661 -0.377281 -1.023823 -2.150260 -1.156427 -1.624019  female         US
11662 -0.165016 -0.125347  0.763265  1.286813  1.944103  female         US
11663 -0.165016  0.548510 -1.567555 -0.404661 -2.089426    male         US

[11664 rows x 7 columns]

In [24]:
scaled_grouped_df = scaled_df.groupby(["country", "sex"]).mean()
#scaled_grouped_df.to_csv("overview.csv")
scaled_grouped_df.head()

                      harm      fair   ingroup      auth    purity
country   sex
Australia female  0.449819  0.289170 -0.091508  0.179053 -0.147370
          male    0.007647  0.059880  0.096488  0.174592 -0.153124
Belgium   female -0.144380 -0.484113 -0.581992 -0.285457 -0.410225
          male   -0.542226 -0.620367 -0.388536 -0.093420 -0.490638
China     female -0.463719 -0.232099  0.262960  0.168851 -0.066904

In [25]:
ru_sc = scaled_grouped_df.loc["Russia"]
ru_sc

            harm      fair   ingroup      auth    purity
sex
female -0.082184 -0.103272  0.088019 -0.101038  0.516676
male   -0.841079 -0.575334  0.151425  0.041700  0.313109

In [26]:
us_sc = scaled_grouped_df.loc["US"]
us_sc

            harm      fair   ingroup      auth    purity
sex
female  0.221712  0.108503 -0.322322  0.213229  0.030762
male   -0.136466 -0.003186 -0.226084  0.262477 -0.155219

In [27]:
au_sc = scaled_grouped_df.loc["Australia"]
au_sc

            harm     fair   ingroup      auth    purity
sex
female  0.449819  0.28917 -0.091508  0.179053 -0.147370
male    0.007647  0.05988  0.096488  0.174592 -0.153124

In [28]:
sp_sc = scaled_grouped_df.loc["Spain"]
sp_sc

            harm      fair   ingroup      auth    purity
sex
female  0.118887  0.686089 -0.665576 -0.398787 -0.885185
male    0.116234  0.492356 -0.827034 -0.573808 -1.102375

In [29]:
ir_sc = scaled_grouped_df.loc["Iran"]
ir_sc

            harm      fair   ingroup      auth    purity
sex
female -0.078871  0.190513  0.665935  0.364459  0.745368
male   -0.348853  0.010127  0.635538  0.119394  0.642902

In [34]:
ir_sc.loc["male", "harm"]

-0.3488527601276778

In [31]:
print(ir_sc)

            harm      fair   ingroup      auth    purity
sex
female -0.078871  0.190513  0.665935  0.364459  0.745368
male   -0.348853  0.010127  0.635538  0.119394  0.642902